<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Ekam"
            id="ekam">
      </category>
      <view
            name="Ekam Dashboard"
            icon="icons/sample.gif"
            category="ekam"
            class="com.googlecode.ekam.eclipse.dashboard.EkamDashboard"
            id="com.googlecode.ekam.eclipse.dashboard.EkamDashboard">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         id="ekamProblem"
         name="Ekam Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
